{% extends 'base.html' %}

{% block head %}
  <title>Registro de estatus</title>
  {% endblock %}

  {% block body %}
  <nav class="navbar oswald">
  <h1>Ingresa status de Orden de Servicio</h1>
  </nav><br>
  <form class="col-5" action="/crear-estado-reparacion" method="post">
    <label for="cliente">Cliente</label><br>
    <input type="text" name="cliente" value=""><br>
    <label for="trabajo">Trabajo</label><br>
    <input type="text" name="trabajo" value=""><br>
    <label for="status-p">Status Porcentaje</label><br>
    <input type="text" name="status-p" value=""><br>
    <label for="carro">Auto Modelo</label><br>
    <input type="text" name="carro" value=""><br>
    <label for="placas">Auto Placas</label><br>
    <input type="text" name="placas" value=""><br>
    <label for="status-d">Status Descripcion</label><br>
    <input type="text" name="status-d" value=""><br><br>
    <input type="submit" name="" value="Actualizar"><br>
  </form><br>
  <div>
    <div class="col-1">
      <button id="atras-btn" onclick="history.back()" class="btn-siguiente"></button>
    </div>
  </div>
  <div>
      <span class="oswald col-1">Regresar</span>
  </div>
  {% endblock %}
